.navbar-inverse {
    background-color: #673AB7;
    border-color: black;
 

}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}