.navbar-inverse {
    background-color: #00BCD4;
    border-color: #aeaeae;
    
 
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    text-transform: uppercase;

}

.navbar-inverse .navbar-brand {
    color: white;
}


@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}