<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" routerLink="/">HEIA easy</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">

          <ul class="nav navbar-nav">
              <li routerLinkActive="active current"><a routerLink="/home">Home</a></li> 
              <li routerLinkActive="active current"><a routerLink="/produkte">Produkte</a></li>  
              <li routerLinkActive="active current"><a routerLink="/news">News</a></li>                 
              <li routerLinkActive="active current"><a routerLink="/posts">Posts</a></li>
              <li routerLinkActive="active current"><a routerLink="/pages">Pages</a></li>
              <li routerLinkActive="active current"><a routerLink="/contact">Contact</a></li>
          </ul>
      </div>
      <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>






    
