.navbar-inverse {
    background-color: #2196F3;
    border-color: black;
 
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}