<div class="container main">
<div class="row">
<div class="col-md-6">
    <h3>Kontakt</h3>
    <form class="contact-form">
        <md-form-field class="contact-full-width">
          <input mdInput placeholder="Firma" value="firma">
        </md-form-field>
      
        <table class="contact-full-width" cellspacing="0"><tr>
          <td><md-form-field class="contact-full-width">
            <input mdInput placeholder="Vorname">
          </md-form-field></td>
          <td><md-form-field class="contact-full-width">
            <input mdInput placeholder="Nachname">
          </md-form-field></td>
        </tr></table>
      
        <p>
          <md-form-field class="contact-full-width">
            <textarea mdInput placeholder="Addresse"></textarea>
          </md-form-field>
          <md-form-field class="contact-full-width">
            <textarea mdInput placeholder="Addresse 2"></textarea>
          </md-form-field>
        </p>
      
        <table class="contact-full-width" cellspacing="0"><tr>
          <td><md-form-field class="contact-full-width">
            <input mdInput placeholder="Stadt">
          </md-form-field></td>
          <td><md-form-field class="contact-full-width">
            <input mdInput placeholder="Staat">
          </md-form-field></td>
          <td><md-form-field class="contact-full-width">
            <input mdInput #postalCode maxlength="5" placeholder="Zip" value="">
            <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
          </md-form-field></td>
        </tr></table>
    </form>

</div>
<div class="col-md-6">
    <section class="contact-section">
        <h3>Ich interessiere mich für: </h3>
        <br>
        <md-checkbox class="contact-margin">Demo Zugang</md-checkbox>
        <md-checkbox class="contact-margin">Angebot</md-checkbox>
        <md-checkbox class="contact-margin">Komplettlösung</md-checkbox>
        <md-checkbox class="contact-margin">Einbindung in die bestehende Webseite</md-checkbox>
        <md-checkbox class="contact-margin">Booking Engine & Webshop</md-checkbox>
        <md-checkbox class="contact-margin">Beratungstermin</md-checkbox>
        <md-checkbox class="contact-margin">Kooperation</md-checkbox>
        <md-checkbox class="contact-margin">Website Analyse (SEO, SEM)</md-checkbox>
     
  
      
    </section>
</div>


</div>
<div class="button-row">
    <br>
    <button md-raised-button color="primary">Senden</button>
    
  </div>


</div>