.example-card {
    /*width: 40%;*/
    text-align: center;
  }
  
  .example-header-image {
    background-image: url('');
    background-size: cover;
  }

  md-icon.size-16 {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    align-items: left;
  }