<div *ngFor="let data of getData(386)" >
    <div class="page-title">
      <h2>{{data.acf.titel_}}</h2>
      <h4>{{data.acf.untertitel}}</h4>
       
     
      
    <div class="col-md-3"><md-card class="example-card">
        <md-card-header>
          <md-card-title><md-icon> {{data.acf.icon_spalte_1}}</md-icon></md-card-title> 
        
        </md-card-header>
          <img md-card-image src="" alt="">
        <md-card-content>
          
              <p [innerHTML]="data.acf.spalte1"></p>
    
        </md-card-content>
        <md-card-actions>
          
          <a href="" md-raised-button color="primary" >mehr</a>
          
        
        </md-card-actions>
      </md-card>    
    </div>
    
    <div class="col-md-3"><md-card class="example-card">
        <md-card-header>
        
          <md-card-title><md-icon> {{data.acf.icon_spalte_1}}</md-icon></md-card-title> 
        
        </md-card-header>
          <img md-card-image src="" alt="">
        <md-card-content>
          
              <p [innerHTML]="data.acf.spalte1"></p>
    
        </md-card-content>
        <md-card-actions>
          
          <a href="" md-raised-button color="primary" >mehr</a>
          
        
        </md-card-actions>
      </md-card>    
    </div>
    <div class="col-md-3"><md-card class="example-card">
        <md-card-header>
           
            <md-card-title><md-icon> {{data.acf.icon_spalte_1}}</md-icon></md-card-title> 
        
        </md-card-header>
          <img md-card-image src="" alt="">
        <md-card-content>
          
              <p [innerHTML]="data.acf.spalte1"></p>
    
        </md-card-content>
        <md-card-actions>
          
          <a href="" md-raised-button color="primary" >mehr</a>
          
        
        </md-card-actions>
      </md-card>    
    </div>
    <div class="col-md-3"><md-card class="example-card">
        <md-card-header>
         
          <md-card-title><md-icon> {{data.acf.icon_spalte_1}}</md-icon></md-card-title> 
        
        </md-card-header>
          <img md-card-image src="" alt="">
        <md-card-content>
          
              <p [innerHTML]="data.acf.spalte1"></p>
    
        </md-card-content>
        <md-card-actions>
          
          <a href="" md-raised-button color="primary" >mehr</a>
          
        
        </md-card-actions>
      </md-card>    
    </div>

       
    </div>


   